.commentArea {
  display: flex;
  flex-direction: column;
  width: 614px;
  margin-top: 4px;
  margin-left: 16px;
  overflow-wrap: break-word;
}

.feedTime {
  font-size: 10px;
  color: #8e8e8e;
  margin-top: 7px;
  margin-bottom: 10px;
}

.commentInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -15px;
  width: 100%;
  height: 56px;
  border-top: 1px solid #efefef;
}

.emozi {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  margin-top: 15px;
  margin-bottom: 8px;
  margin-left: 6px;
}

.smile {
  width: 24px;
  height: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.write {
  width: 560px;
  border: none;
  margin-left: 6px;
}

.write:focus {
  outline: none;
}

.summit {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50px;
  height: 56px;
  margin-left: 20px;
  background-color: transparent;
  border: none;
  color: rgba(0, 149, 246, 0.3);
  cursor: pointer;
}

.on {
  color: #0094f6;
}

.off {
  color: #0094f64b;
}
