.Main {
  main {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #fafafa;
    font-size: 13px;
  }

  .container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }

  section {
    display: flex;
    flex: 2;
    width: 602px;
    margin-right: 20px;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 602px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    background-color: white;
  }

  .feed_img {
    width: 600px;
    height: 600px;
  }

  .feed_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 2px 15px;
  }

  .feed_profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile_id {
    padding-left: 15px;
    font-weight: bold;
  }

  .profile_id_num {
    padding-left: 5px;
    font-weight: bold;
  }

  aside {
    display: flex;
    flex: 1;
    max-width: 320px;
  }

  .fas,
  .far {
    color: #0f0f0f;
  }

  .fa-ellipsis-h {
    padding-right: 0;
  }

  #bookmark {
    padding: 0;
  }

  .profile_img {
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
  }

  .feed_info {
    display: flex;
    flex-direction: column;
    padding: 15px 15px 5px 15px;
  }

  .feed_icon_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2;
    padding-bottom: 12px;
    font-size: larger;
  }

  .feed_icon_bar_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
  }

  .whoIsLike {
    display: flex;
    flex: 1;
    align-items: center;
  }

  .profile_img_sm {
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }

  .posting {
    display: flex;
    flex: 1;
    padding-top: 10px;
  }

  .posting_id {
    font-weight: bold;
  }

  .posting_comment {
    padding-left: 5px;
  }

  .comment_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 60px;
    border-top: 1px solid #dbdbdb;
  }

  .input_comment {
    height: 30px;
    width: 560px;
    border: none;
    font-size: 15px;
  }

  .commentBtn {
    height: 30px;
    width: 50px;
    border: none;
    background-color: white;
    color: #0095f6;
    font-size: 14px;
  }

  .commentBtn:disabled {
    color: #b2dffc;
  }

  .profile_bar {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }

  .profile_wrapper {
    display: flex;
    align-items: center;
  }

  .profile_img_lg {
    width: 55px;
    height: 55px;
    border-radius: 27.5px;
  }

  .nickname {
    padding-left: 15px;
    color: #8b8b8b;
  }

  .storybox,
  .recommend_box {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 13px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    background-color: white;
  }

  .storybar,
  .recommend_bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 13px;
  }

  .storyname,
  .recommendForYou {
    color: #8b8b8b;
  }

  .storyShowAll,
  .recommendShowAll {
    font-weight: bold;
  }

  ul {
    list-style: none;
  }

  li {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }

  .recommend_user {
    display: flex;
    justify-content: space-between;
  }

  .user_profile_wrapper {
    display: flex;
    justify-content: space-between;
  }

  .insta_info_box {
    margin-top: 20px;
    padding: 0 3px;
    color: #8b8b8b;
    font-size: 11px;
  }

  .copyright {
    margin-top: 20px;
  }

  .commented_box {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }

  .comment_list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .comment_mod_box {
    display: flex;
    justify-content: space-between;
    width: 30px;
  }
}
