$btn-color-disable: rgba(0, 149, 246, 0.3);
$btn-color-active: #0095f6;
$font-size: 14px;
$bg-color: #fafafa;
$font-color: #00376b;
$default-border: 1px solid #dbdbdb;
$font-gray: #8e8e8e;

@mixin flexCenter {
  display: flex;
  justify-content: center;
}
