@import '../../../../../styles/variable.scss';

.story {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: fit-content;
  margin: 0 10px;

  .storyBackground {
    width: 66px;
    height: 66px;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #be28eb 90%
    );

    border-radius: 50%;

    .storyImg {
      width: 56px;
      height: 56px;
      margin: 5px;
      border: 3px solid white;
      border-radius: 50%;
    }
  }

  .storyId {
    margin-top: 6px;
    color: $font-color;
  }
}
