.feed_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 2px 15px;

  .feed_profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
