@import '../../../styles/variable.scss';

.mainWrap {
  @include flexCenter;
  background-color: #fafafa;
  margin-top: 40px;
  .main {
    display: flex;
    width: 500px;
    height: 100%;
    margin: 50px 0px 50px 350px;
    background-color: white;
    flex-direction: column;
    div.feeds {
      display: flex;
      align-content: flex-start;
      margin-bottom: 50px;
      border: 1px solid lightgray;
      flex-wrap: wrap;
      flex-direction: row;
      .feeds_text {
        display: flex;
        margin-top: 5px;
        align-items: flex-start;
        flex-direction: column;
        img {
          position: absolute;
          width: 20px;
          height: 20px;
          margin: 0px 5px 0px 15px;
          border-radius: 16px;
        }
        h1 {
          margin: 5px 0px 0px 40px;
          font-weight: normal;
          font-size: 15px;
          strong {
            font-weight: bolder;
            font-size: 17px;
          }
        }
        h2 {
          margin: 10px 0px 0px 15px;
          font-weight: normal;
          font-size: 15px;
          strong {
            font-weight: bolder;
            margin-right: 5px;
          }
        }
        h3 {
          font-size: 15px;
          padding: 10px;
          margin-left: 5px;
          color: gray;
        }

        .feed_comment {
          display: flex;
          margin-top: 5px;
          align-items: flex-start;
          flex-direction: column;
          span {
            padding-left: 2px;
            padding-bottom: 5px;
            font-size: 14px;
          }
        }
      }
    }

    .feeds_top_left {
      display: flex;
      margin: 5px;
      align-items: center;
      img {
        width: 33px;
        height: 33px;
        margin: 10px;
        border-radius: 16px;
      }
      h1 {
        margin-left: 7px;
        font-size: 18px;
        font-weight: bolder;
      }
    }
    .feeds_top_right {
      p {
        margin: 13px;
        margin-left: 330px;
        font-size: 30px;
      }
    }
    .feeds_content {
      margin: 0;
      img {
        display: flex;
        width: 498px;
      }
    }
    .feeds_icons {
      display: -webkit-inline-box;
      img {
        padding-top: 7px;
        padding-left: 10px;
      }
    }
    .feeds_icons_left {
      img {
        width: 35px;
        height: 33px;
        margin: 3px;
      }
    }
    .feeds_icons_right {
      img {
        width: 35px;
        height: 33px;
        margin: 3px;
        margin-left: 315px;
      }
    }

    .reply {
      display: flex;
      width: 100%;
      border-top: 1px solid lightgray;

      input {
        display: flex;
        width: 400px;
        height: 45px;
        margin-left: 20px;
        border: none;
        border-radius: 2px;
      }
      .reply-btn {
        width: 70px;
        color: gray;
        background-color: white;
        border: none;
      }
    }
  }
}
